<center>
    <!--Footer-->
    <footer style="font-family: 'Abel', sans-serif;" class="footer custom-footer">
        <div class="text-center col-lg-12 col-md-12 col-sm-12">
            Proudly Hosted on <a target="_blank" style="color:white;" href="https://pages.github.com/">GitHub Pages.</a>
        </div>
    </footer>
    <!--/.Footer-->
</center>

<script src="https://twemoji.maxcdn.com/2/twemoji.min.js"></script>
<script>
  $('#invert').click(function () {
  $('body').toggleClass('body-inverse');
  $('.big-headline').toggleClass('big-headline-inverse');
  $('.gradient_cover').toggleClass('gradient_cover-inverse');
  $('.typed-strings').toggleClass('typed-strings-inverse');
  $('.blog-section').toggleClass('blog-section-inverse');
  $('.card').toggleClass('card-inverse');
  $('.card-title').toggleClass('card-title-inverse');
  $('hr').toggleClass('hr-inverse');
  $('.post-title').toggleClass('post-title-inverse');
  $('.post-date').toggleClass('post-date-inverse');
  $('.post-content').toggleClass('post-content-inverse');
  $('.typed-cursor').toggleClass('typed-cursor-inverse');
  $('.card-img').toggleClass('card-img-inverse');
});
</script>

<script>
  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
  /*
  var disqus_config = function () {
  this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  */
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://harshtrivedi.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
</script>
