<center>
    <!--Footer-->
    <footer style="font-family: 'Abel', sans-serif;" class="footer custom-footer">
        <div class="text-center col-lg-12 col-md-12 col-sm-12">
            Proudly Hosted on <a style="color:white;" href="https://pages.github.com/">GitHub Pages.</a>
        </div>
    </footer>
    <!--/.Footer-->
    <script src="http://twemoji.maxcdn.com/2/twemoji.min.js?11.0"></script>
    <script>
        $('#invert').click(function () {
            $('body').toggleClass('body-inverse');
            $('.big-headline').toggleClass('big-headline-inverse');
            $('.gradient_cover').toggleClass('gradient_cover-inverse');
            $('.typed-strings').toggleClass('typed-strings-inverse');
            $('.blog-section').toggleClass('blog-section-inverse');
            $('.card').toggleClass('card-inverse');
            $('.card-title').toggleClass('card-title-inverse');
            $('hr').toggleClass('hr-inverse');
            $('.post-title').toggleClass('post-title-inverse');
            $('.post-date').toggleClass('post-date-inverse');
            $('.post-content').toggleClass('post-content-inverse');
            $('.typed-cursor').toggleClass('typed-cursor-inverse');
            $('.card-img').toggleClass('card-img-inverse');
        })
    </script>
</center>